version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "01:00"
    labels:
      - "dependencies"
      - "dependabot"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "01:00"
    labels:
      - "dependencies"
      - "dependabot"
