name: Pre-commit

on:
  pull_request:
  push:
    branches: [ "main", "modernization.20251118" ]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Run pre-commit
        uses: pre-commit/action@v4.0.1
        with:
          extra_args: --config .pre-commit-config.yaml
